<!DOCTYPE html>
<html lang="en">
	<head></head>
	<body>

	{% load staticfiles %}		
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'smashtournament/css/smash.css' %}">

	<div class="container">
		<div class="header">
			<ul class="nav nav-pills pull-right">
				<li class="active">
				    <a href="/">home</a>	
				</li>
				<li>
					<a href="/leaders">login</a>	
				</li>
				<li>
					<a href="#">create new account</a>	
				</li>
			</ul>	
			<h3>smash.matrix!</h3>
		</div>
		<!-- content goes here -->
		<div class="footer">
			© 2014 Matrix Center for Digital Humanities & Social Sciences
			<br/>
			<a href="#">credits</a>
			|
			<a href="matrix.msu.edu">matrix.msu.edu</a>
		</div>
	</div>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>
